<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customer">
            <h2><span jhiTranslate="javatrainingApp.customer.detail.title">Customer</span> {{customer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="javatrainingApp.customer.name">Name</span></dt>
                <dd>
                    <span>{{customer.name}}</span>
                </dd>
                <dt><span jhiTranslate="javatrainingApp.customer.language">Language</span></dt>
                <dd>
                    <span jhiTranslate="{{'javatrainingApp.Language.' + customer.language}}">{{customer.language}}</span>
                </dd>
                <dt><span jhiTranslate="javatrainingApp.customer.streetAddress">Street Address</span></dt>
                <dd>
                    <span>{{customer.streetAddress}}</span>
                </dd>
                <dt><span jhiTranslate="javatrainingApp.customer.postalCode">Postal Code</span></dt>
                <dd>
                    <span>{{customer.postalCode}}</span>
                </dd>
                <dt><span jhiTranslate="javatrainingApp.customer.city">City</span></dt>
                <dd>
                    <span>{{customer.city}}</span>
                </dd>
                <dt><span jhiTranslate="javatrainingApp.customer.country">Country</span></dt>
                <dd>
                    <div *ngIf="customer.country">
                        <a [routerLink]="['/country', customer.country?.id, 'view']">{{customer.country?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="javatrainingApp.customer.defaultTerms">Default Terms</span></dt>
                <dd>
                    <div *ngIf="customer.defaultTerms">
                        <a [routerLink]="['/payment-terms', customer.defaultTerms?.id, 'view']">{{customer.defaultTerms?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer', customer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
